body{
    background-color: gainsboro;
    min-width: 320px;
}

body,html{
    height: 100%;
}


.container{
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    max-width: 100%;
    display: block;
    box-sizing: inherit;
    margin: auto;
    min-width: 767px;
    max-width: 1199px;
}

.box{
    box-sizing: border-box;
}

.center{
    min-width: 320px;
    width: 100%;
    height: 100%;
}

.first_main{
    height: 100%;
    width: 68.75%;
    float: left;
    padding: 1rem;
}

.second_main{
    width: 31.25%;
    height: 100%;
    float: right;
    padding: 1rem;
}

.item_list{
    flex-direction: column;
    height: auto;
}

.add_form{
    padding: 1em;
    min-width: 320px;
    height: 2rem;
}

input{
    padding-top: 0.678614em;
    padding-right: 1em;
    padding-bottom: 0.678614em;
    border: 1px solid rgba(34,36,38,.15);
}

.add_b{
    width: 20%;
    background-color: #2185D0;
    color: #FFF;
    padding: 0.86em;
    line-height: 1em;
    text-align: center;
    font-weight: 700; 
    vertical-align: middle;
    border: none;
    -webkit-border-bottom-right-radius: .28571429rem;
    -webkit-border-top-right-radius: .28571429rem;
}

.item_row_form{
    padding: 1rem;
    min-width: 320px;
    height: 1rem;
    border-width: thin;
    border-top-color: gainsboro;
    border-top-style: solid;
}

.item_row{
   height: 3rem;
    margin-bottom: -1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: -1rem;
}

.item_name{
    width: 25%;
    float: left;
    height: 3rem;
    padding-left: 1em;
    padding-top: 1rem;
}

.change_amount{
    width: 37.5%;
    float: left;
    height: 100%;
    margin: auto;
    text-align: center;
    padding-top: 0.3em;
}

.buy_button_field{
    width: 37.5%;
    float: left;
    height: 100%;
    padding-top: 0.4em;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: right;
}

.item_list{
    height: auto;
}

.minus_b{
    height: 2rem;
    width: 2rem;
    border-radius: 10em;
    min-height: 1em;
    margin: 0.25em;
    background-color: #edaba4;
    border: none;
    line-height: 1em;
    text-align: center;
    font-weight: 700; 
    vertical-align: middle;
}

.plus_b{
    height: 2rem;
    width: 2rem;
    border-radius: 10em;
    min-height: 1em;
    margin: 0.25em;
    box-shadow: 0 0 0 1px rgba(34,36,38,.15) inset, 0 -0.3em 0 0 rgba(34,36,38,.15) inset;
    background-color: #14cb31;
    border: none;
    line-height: 1em;
    text-align: center;
    font-weight: 700; 
    vertical-align: middle;
}

.label_counter{
    margin: 0 .04285714em;
    background-color: #E8E8E8;
    background-image: none;
    padding: .3533em .703em;
    color: rgba(0,0,0,.6);
    font-weight: 700;
    border-radius: .28571429rem;
    vertical-align: middle;
}

.button{
    box-shadow: 0 0 0 1px rgba(34,36,38,.15) inset, 0 -0.3em 0 0 rgba(34,36,38,.15) inset;
    transition: opacity .1s ease,background-color .1s ease,box-shadow .1s ease,color .1s ease,background .1s ease;
    background: linear-gradient(transparent,rgba(0,0,0,.05));
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    color: rgba(0,0,0,.6);
    border-radius: .4em;
    
}

.bought{
    font-size: .71428571rem;
    margin: 0 .25em 0 0;
    padding: 1em 2em 1.15em;
    text-shadow: none;
    line-height: 1em;
    text-align: center;
    user-select: none;
    font-weight: 700;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    background:  #e6e6e6;
}

.del{
    height: 2rem;
    width: 2rem;
    background-color: #c71919;
}

.raised_segment{
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.08);
    border: 1px solid rgba(34,36,38,.15);
    border-radius: .28571429rem;
}

.second_inner{
    height: auto;
    width: 100%;
}

.second_form{
    padding: 1em;
    border-width: thin;
    border-top-color: gainsboro;
    border-top-style: solid;
}

h3{
    margin: 0;
}

.not_bought{
    
}

.icon{
    height: 10px;
    width: 10px;
}

.del_icon{
    transform: rotate(45deg);
}

.stats_label{
    margin-bottom: 3px!important;
    display: inline-block;
    line-height: 1;
    margin: 0 .14285714em;
    background-color: #E8E8E8;
    padding: .5833em .833em;
    color: rgba(0,0,0,.6);
    border-radius: .28571429rem;
    font-weight: 700;
    font-size: .64285714rem;
    margin-left: 0;
}

.orange_label_counter{
    background-color: #F2711C!important;
    border-color: #F2711C!important;
    color: #FFF!important;
    min-width: 2em;
    min-height: 2em;
    padding: 0.2em 0.5em 0.2em 0.5em;
    line-height: 1em;
    text-align: center;
    border-radius: 500rem;
}

.enter_name_field{
    padding-left: 0.7em;
    width: 75%;
    -webkit-border-bottom-left-radius: .28571429rem;
    -webkit-border-top-left-radius: .28571429rem;
}